In [4]:
import pandas as pd  
import numpy as np

In [5]:

# I CREATED random DATASET
ungrok = []
for x in range(600000) :
    randonk_int = np.random.randint(1, 50)
    ungrok.append(randonk_int) 
ungrok

[8,
 49,
 12,
 8,
 34,
 22,
 41,
 32,
 3,
 29,
 41,
 49,
 21,
 29,
 44,
 20,
 49,
 7,
 26,
 4,
 13,
 1,
 8,
 34,
 21,
 37,
 38,
 28,
 35,
 14,
 35,
 38,
 49,
 32,
 3,
 8,
 17,
 10,
 12,
 4,
 44,
 47,
 35,
 11,
 10,
 45,
 33,
 3,
 39,
 44,
 41,
 15,
 43,
 24,
 20,
 45,
 29,
 43,
 29,
 35,
 37,
 27,
 43,
 49,
 44,
 4,
 27,
 11,
 46,
 27,
 48,
 22,
 3,
 11,
 19,
 40,
 5,
 19,
 16,
 37,
 7,
 39,
 8,
 1,
 5,
 20,
 28,
 2,
 14,
 39,
 36,
 18,
 4,
 31,
 42,
 22,
 37,
 46,
 10,
 28,
 19,
 35,
 18,
 7,
 10,
 22,
 43,
 17,
 48,
 45,
 15,
 4,
 47,
 34,
 46,
 37,
 17,
 41,
 27,
 1,
 2,
 12,
 2,
 9,
 48,
 20,
 10,
 49,
 45,
 22,
 30,
 29,
 16,
 30,
 22,
 6,
 45,
 10,
 17,
 37,
 1,
 14,
 26,
 28,
 40,
 4,
 23,
 23,
 48,
 10,
 41,
 30,
 17,
 7,
 36,
 25,
 47,
 37,
 36,
 34,
 8,
 14,
 20,
 21,
 36,
 21,
 42,
 44,
 10,
 41,
 26,
 28,
 48,
 38,
 23,
 26,
 49,
 41,
 32,
 9,
 32,
 31,
 45,
 46,
 19,
 7,
 34,
 2,
 13,
 30,
 44,
 10,
 22,
 17,
 1,
 37,
 21,
 12,
 2,
 33,
 34,
 18,
 25,
 13,
 11,
 14,
 19,
 37,
 8,
 25,
 36,
 30,
 31,
 29,
 12,
 26,
 19,
 41,
 15,
 37,
 17,
 10,
 1,
 38,
 34,
 4,
 7,
 6,
 24,
 11,
 37,
 47,
 25,
 10,
 42,
 19,
 2,
 13,
 6,
 47,
 19,
 48,
 36,
 24,
 40,
 28,
 40,
 26,
 4,
 44,
 21,
 35,
 27,
 18,
 24,
 7,
 10,
 7,
 13,
 21,
 49,
 5,
 18,
 36,
 8,
 23,
 15,
 25,
 14,
 31,
 25,
 32,
 49,
 1,
 25,
 38,
 33,
 31,
 43,
 23,
 19,
 8,
 19,
 8,
 19,
 27,
 41,
 45,
 41,
 46,
 42,
 7,
 29,
 41,
 20,
 13,
 35,
 30,
 37,
 5,
 15,
 28,
 48,
 6,
 14,
 21,
 26,
 45,
 22,
 28,
 31,
 12,
 29,
 20,
 18,
 21,
 23,
 4,
 31,
 35,
 11,
 37,
 2,
 36,
 30,
 17,
 14,
 36,
 24,
 14,
 8,
 26,
 32,
 32,
 46,
 9,
 22,
 45,
 10,
 4,
 35,
 27,
 16,
 8,
 11,
 23,
 26,
 41,
 44,
 34,
 49,
 47,
 42,
 19,
 6,
 1,
 14,
 1,
 37,
 45,
 21,
 6,
 34,
 42,
 12,
 45,
 10,
 22,
 27,
 24,
 26,
 35,
 47,
 9,
 45,
 24,
 28,
 30,
 14,
 22,
 31,
 49,
 42,
 24,
 42,
 9,
 38,
 46,
 14,
 19,
 10,
 19,
 39,
 4,
 9,
 16,
 12,
 25,
 17,
 25,
 11,
 26,
 29,
 26,
 37,
 20,
 31,
 49,
 27,
 21,
 46,
 41,
 37,
 26,
 7,
 26,
 28,
 18,
 21,
 15,
 18,
 43,
 18,
 20,
 4,
 19,
 22,
 29,
 3,
 40,
 29,
 22,
 32,
 19,
 8,
 27,
 33,
 31,
 29,
 20,
 22,
 33,
 14,
 47,
 6,
 11,
 46,
 42,
 9,
 31,
 18,
 21,
 4,
 22,
 20,
 43,
 15,
 11,
 34,
 1,
 2,
 34,
 41,
 10,
 20,
 25,
 40,
 16,
 3,
 38,
 49,
 44,
 22,
 28,
 41,
 13,
 28,
 14,
 3,
 26,
 19,
 18,
 40,
 2,
 23,
 47,
 25,
 26,
 21,
 32,
 38,
 41,
 3,
 8,
 33,
 29,
 39,
 8,
 14,
 38,
 6,
 4,
 6,
 10,
 30,
 4,
 49,
 18,
 45,
 3,
 29,
 38,
 8,
 21,
 37,
 5,
 4,
 46,
 35,
 14,
 31,
 34,
 19,
 14,
 39,
 37,
 2,
 20,
 11,
 18,
 22,
 1,
 28,
 9,
 29,
 25,
 41,
 47,
 46,
 30,
 12,
 10,
 11,
 45,
 47,
 21,
 12,
 29,
 15,
 8,
 49,
 32,
 14,
 31,
 47,
 11,
 14,
 6,
 39,
 2,
 15,
 8,
 25,
 14,
 34,
 32,
 34,
 26,
 43,
 8,
 5,
 40,
 44,
 41,
 15,
 31,
 44,
 35,
 35,
 16,
 13,
 37,
 33,
 8,
 32,
 49,
 9,
 49,
 24,
 32,
 11,
 41,
 16,
 37,
 1,
 19,
 7,
 18,
 42,
 24,
 20,
 5,
 31,
 11,
 37,
 3,
 10,
 46,
 22,
 17,
 12,
 28,
 18,
 42,
 32,
 10,
 47,
 22,
 14,
 9,
 12,
 28,
 26,
 26,
 35,
 40,
 23,
 10,
 43,
 2,
 23,
 30,
 42,
 3,
 2,
 2,
 45,
 8,
 19,
 38,
 17,
 45,
 1,
 49,
 32,
 25,
 22,
 24,
 4,
 22,
 35,
 17,
 42,
 32,
 41,
 6,
 19,
 35,
 18,
 15,
 1,
 18,
 17,
 19,
 42,
 8,
 41,
 5,
 14,
 17,
 4,
 6,
 39,
 20,
 35,
 36,
 28,
 28,
 27,
 36,
 18,
 27,
 47,
 6,
 33,
 10,
 10,
 9,
 24,
 12,
 14,
 1,
 1,
 17,
 39,
 36,
 18,
 29,
 1,
 45,
 40,
 30,
 30,
 17,
 48,
 41,
 43,
 10,
 3,
 18,
 41,
 43,
 16,
 43,
 14,
 36,
 26,
 10,
 44,
 34,
 35,
 43,
 11,
 35,
 15,
 19,
 39,
 32,
 1,
 14,
 4,
 28,
 10,
 22,
 22,
 26,
 46,
 3,
 5,
 8,
 6,
 33,
 18,
 27,
 40,
 38,
 20,
 1,
 10,
 43,
 28,
 24,
 27,
 20,
 11,
 16,
 19,
 44,
 9,
 23,
 49,
 22,
 7,
 9,
 36,
 3,
 31,
 40,
 40,
 38,
 14,
 29,
 12,
 39,
 31,
 35,
 30,
 30,
 3,
 29,
 37,
 5,
 7,
 2,
 43,
 42,
 21,
 31,
 34,
 25,
 45,
 19,
 11,
 34,
 48,
 5,
 20,
 43,
 8,
 20,
 5,
 35,
 23,
 28,
 44,
 3,
 39,
 37,
 22,
 9,
 31,
 28,
 43,
 25,
 11,
 28,
 42,
 18,
 3,
 20,
 31,
 4,
 7,
 13,
 1,
 23,
 23,
 36,
 18,
 33,
 1,
 49,
 2,
 23,
 40,
 44,
 14,
 21,
 20,
 16,
 49,
 47,
 40,
 43,
 25,
 1,
 17,
 39,
 13,
 32,
 33,
 32,
 35,
 22,
 49,
 16,
 40,
 1,
 4,
 16,
 31,
 7,
 32,
 30,
 48,
 15,
 26,
 45,
 41,
 41,
 47,
 7,
 18,
 44,
 30,
 12,
 40,
 22,
 43,
 29,
 34,
 19,
 38,
 31,
 45,
 7,
 43,
 21,
 4,
 19,
 44,
 21,
 30,
 13,
 24,
 40,
 6,
 25,
 2,
 1,
 36,
 35,
 6,
 31,
 19,
 15,
 43,
 32,
 6,
 24,
 38,
 7,
 47,
 31,
 40,
 21,
 32,
 10,
 14,
 39,
 25,
 46,
 43,
 41,
 10,
 34,
 6,
 25,
 30,
 30,
 46,
 29,
 27,
 12,
 15,
 27,
 34,
 42,
 32,
 8,
 40,
 4,
 27,
 35,
 33,
 39,
 6,
 3,
 45,
 31,
 34,
 43,
 1,
 3,
 45,
 30,
 24,
 24,
 48,
 34,
 48,
 49,
 11,
 30,
 32,
 44,
 12,
 17,
 38,
 46,
 47,
 23,
 13,
 10,
 36,
 32,
 32,
 27,
 37,
 24,
 10,
 6,
 14,
 3,
 32,
 44,
 25,
 38,
 5,
 42,
 37,
 49,
 28,
 47,
 19,
 31,
 41,
 27,
 41,
 39,
 ...]

In [6]:
 
ungroup = pd.DataFrame(
    {'X': ungrok }
)

ungroup
# giv_example[]

         X
0        8
1       49
2       12
3        8
4       34
...     ..
599995  21
599996  46
599997  31
599998  40
599999   9

[600000 rows x 1 columns]

In [7]:

# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION
# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION
# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION

    # This mini project contains manual calculations for standard deviation, 
    # which I've learned in Statistics, and applies them in Python analysis.
    


ungroup['mean_x'] = ungroup['X'].mean() 

ungroup['X-x'] = ungroup['X'] - ungroup['X'].mean()

ungroup['(X-x)^2'] = ungroup['X-x'].pow(2)
# age_sums = age_sum.item() 
ungroup['sum(X-x^2)'] = ungroup['(X-x)^2'].sum()


def show_group () : 
    mean_x = ungroup['X'].mean() 
    print(f"mean of X == {mean_x}")
    sum_pow2 = ungroup['(X-x)^2'].sum()
    print(f"sum of (X-x)^2 == {sum_pow2}")
    N = len(ungroup['X']) 
    print(f"Sample size of {N}")
    under = sum_pow2 / N
    print(f"Under : {under}")

    import math

    print(f" Standard Deviation == {math.sqrt(under)}" )

# ungroup = ungroup.reindex(columns=['X', 'mean_x', 'X-x', '(X-x)^2', ])

show_group()
ungroup

mean of X == 24.986018333333334
sum of (X-x)^2 == 119743319.70779838
Sample size of 600000
Under : 199.5721995129973
 Standard Deviation == 14.127002495681712

         X     mean_x        X-x     (X-x)^2    sum(X-x^2)
0        8  24.986018 -16.986018  288.524819  1.197433e+08
1       49  24.986018  24.013982  576.671315  1.197433e+08
2       12  24.986018 -12.986018  168.636672  1.197433e+08
3        8  24.986018 -16.986018  288.524819  1.197433e+08
4       34  24.986018   9.013982   81.251865  1.197433e+08
...     ..        ...        ...         ...           ...
599995  21  24.986018  -3.986018   15.888342  1.197433e+08
599996  46  24.986018  21.013982  441.587425  1.197433e+08
599997  31  24.986018   6.013982   36.167975  1.197433e+08
599998  40  24.986018  15.013982  225.419645  1.197433e+08
599999   9  24.986018 -15.986018  255.552782  1.197433e+08

[600000 rows x 5 columns]

In [8]:



## GROUP STANDARD DEVIATION 
## GROUP STANDARD DEVIATION 


grp = ['50-59' , '60-69' ,  '70-79', '80-89', '90-100']
X = [3 , 5, 9, 12, 8]

group =pd.DataFrame({
    'class_' : grp , 
    'X' : X 
})

group['class_']

0     50-59
1     60-69
2     70-79
3     80-89
4    90-100
Name: class_, dtype: object

In [9]:
ungroup['mean_x'] = ungroup['X'].mean() 

ungroup['X-x'] = ungroup['X'] - ungroup['X'].mean()

ungroup['(X-x)^2'] = ungroup['X-x'].pow(2)
# age_sums = age_sum.item() 
ungroup['sum(X-x^2)'] = ungroup['(X-x)^2'].sum()


def show_group () : 
    mean_x = ungroup['X'].mean() 
    print(f"mean of X == {mean_x}")
    sum_pow2 = ungroup['(X-x)^2'].sum()
    print(f"sum of (X-x)^2 == {sum_pow2}") 
    N = len(ungroup['X']) 
    print(f"Sample size of {N}")
    under = sum_pow2 / N
    print(f"Under : {under}")
    import math
    print(f" Standard Deviation == {math.sqrt(under)}" )

show_group()
# ungroup = ungroup.reindex(columns=['X', 'mean_x', 'X-x', '(X-x)^2', ])

mean of X == 24.986018333333334
sum of (X-x)^2 == 119743319.70779838
Sample size of 600000
Under : 199.5721995129973
 Standard Deviation == 14.127002495681712

In [10]:
group[['1st', '2nd']]= group['class_'].str.split('-', expand=True)
group[['1st', '2nd']]= group[['1st' , '2nd']].astype(int)
group['midpoint'] = (group['1st'] + group['2nd']) / 2 
group['f*midp'] = group['X'] * group['midpoint'] 
group['Mean'] = group['f*midp'].sum() / group['X'].sum()
group['m-Mean'] = group['midpoint'] - group['Mean']
group['m-Mean^2'] = group['m-Mean'].pow(2)
group['sum(m-Mean^2)'] = group['m-Mean^2'].sum()
group['N-1'] = group['X'].sum() - 1 
group["std_deviation"] = group['sum(m-Mean^2)'] / group['N-1']
print(group.dtypes)

group

class_            object
X                  int64
1st                int32
2nd                int32
midpoint         float64
f*midp           float64
Mean             float64
m-Mean           float64
m-Mean^2         float64
sum(m-Mean^2)    float64
N-1                int64
std_deviation    float64
dtype: object

,class_,X,1st,2nd,midpoint,f*midp,Mean,m-Mean,m-Mean^2,sum(m-Mean^2),N-1,std_deviation
0,50-59,3,50,59,54.5,163.5,79.202703,-24.702703,610.223521,1126.124361,36,31.281232
1,60-69,5,60,69,64.5,322.5,79.202703,-14.702703,216.169467,1126.124361,36,31.281232
2,70-79,9,70,79,74.5,670.5,79.202703,-4.702703,22.115413,1126.124361,36,31.281232
3,80-89,12,80,89,84.5,1014.0,79.202703,5.297297,28.061359,1126.124361,36,31.281232
4,90-100,8,90,100,95.0,760.0,79.202703,15.797297,249.554602,1126.124361,36,31.281232