In [2]:
# from sqlalchemy import create_engine
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [23]:


username = 'Eners'
# password = 'imDev888'
password = "0912"; 
hostname = "127.0.0.1"
# hostname = "conn01"
port = 3306
database_name = 'basee'

# Create an engine to connect to the MySQL database
engine = create_engine(f'mysqldb://{username}:{password}@127.0.0.1:{port}/{database_name}')


# engine = create_engine('mysql://Eners:imDev888@localhost:3306/basee')
# engine = create_engin

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysqldb

# Solo mysql.connector
without mysql.connector

In [78]:
# import MySQLdb 


import mysql.connector as MySQLdb 
import pandas as pd
# import mysql.

connection = MySQLdb.connect(host='127.0.0.1', user='Eners', passwd='imDev888', db='schema_001')
cursor = connection.cursor()
## query 

cursor.execute('SELECT * FROM income_statement LIMIT 4') 
results = cursor.fetchall() 
df_result = pd.DataFrame(results, columns=income_statement.columns.keys() ) 
# the columns=income_statement.columns.keys() are connectortign to ro frame 
df_result

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709
1,2,Schmeler-Gottlieb,Gualterio Dorrins,February,71218,82939,4273,7907,6801,6371,6241,5092,6202,5332
2,3,Streich-Runte,Dirk Woffenden,June,82950,95349,5971,9321,7736,5202,9976,8050,9940,8153
3,4,Labadie-Hettinger,Thornton Lindenbaum,May,86211,84444,4393,7946,3576,9776,7262,7997,7515,6864

### THIS kind of query only accept if QUERY AND columns.keys are match by column lenght

In [77]:
def querys(querry) : 
    cursor = connection.cursor()
    cursor.execute(querry) 
    results = cursor.fetchall() 
    df_result = pd.DataFrame(results, columns=income_statement.columns.keys() ) 
    # the columns=income_statement.columns.keys() are connectortign to ro frame 
    display(df_result)
    
querys('SELECT * FROM income_statement LIMIT 4') 

    # THIS kind of query only accept if QUERY AND columns.keys are match by column lenght 
    #

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709
1,2,Schmeler-Gottlieb,Gualterio Dorrins,February,71218,82939,4273,7907,6801,6371,6241,5092,6202,5332
2,3,Streich-Runte,Dirk Woffenden,June,82950,95349,5971,9321,7736,5202,9976,8050,9940,8153
3,4,Labadie-Hettinger,Thornton Lindenbaum,May,86211,84444,4393,7946,3576,9776,7262,7997,7515,6864

# CREAT_ENGINE

In [79]:
from sqlalchemy import create_engine, MetaData, Table, select
## this this sqlalchemy.create_engine but cannow accept create_engine only 

engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/schema_001', echo=True)
metadata = MetaData() 


income_statement = Table('income_statement' , metadata , autoload=True , autoload_with=engine)

print(repr (metadata.tables['income_statement']) )  

# (n) print(type(MetaData())) 
# print()

2024-02-18 14:29:25,694 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-18 14:29:25,694 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:25,694 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-18 14:29:25,694 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:25,709 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-18 14:29:25,709 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:25,709 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `income_statement`
2024-02-18 14:29:25,709 INFO sqlalchemy.engine.Engine [raw sql] {}
Table('income_statement', MetaData(), Column('id', INTEGER(), table=<income_statement>), Column('business_name', VARCHAR(length=50), table=<income_statement>), Column('manager', VARCHAR(length=50), table=<income_statement>), Column('date', VARCHAR(length=9), table=<income_statement>), Column('product_sales', INTEGER(), table=<income_statement>), Column('service_revenue', INTEGER(), table=<income_statement>), Column('raw_material', INTEGER(), table=<income_statement>), Column('labor', INTEGER(), table=<income_statement>), Column('salaries_wages', INTEGER(), table=<income_statement>), Column('rent_exps', INTEGER(), table=<income_statement>), Column('supplies_exps', INTEGER(), table=<income_statement>), Column('marketing_exps', INTEGER(), table=<income_statement>), Column('utillities_exps', INTEGER(), table=<income_statement>), Column('depreciation', INTEGER(), table=<income_statement>), schema=None)

### using sqr loop

In [80]:
from sqlalchemy import create_engine, MetaData, Table, select
## this this sqlalchemy.create_engine but cannow accept create_engine only 

engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/schema_001', echo=True)
metadata = MetaData() 

income_statement = Table('income_statement' , metadata , autoload=True , autoload_with=engine)

result = engine.execute(select(* [c for c in income_statement.columns]))

df = pd.DataFrame(result.fetchall(), columns= [c.name for c in income_statement.columns])
df

2024-02-18 14:29:28,603 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-18 14:29:28,603 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:28,616 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-18 14:29:28,616 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:28,619 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-18 14:29:28,619 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:28,619 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `income_statement`
2024-02-18 14:29:28,619 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:29:28,635 INFO sqlalchemy.engine.Engine SELECT income_statement.id, income_statement.business_name, income_statement.manager, income_statement.date, income_statement.product_sales, income_statement.service_revenue, income_statement.raw_material, income_statement.labor, income_statement.salaries_wages, income_statement.rent_exps, income_statement.supplies_exps, income_statement.marketing_exps, income_statement.utillities_exps, income_statement.depreciation
FROM income_statement
2024-02-18 14:29:28,635 INFO sqlalchemy.engine.Engine [generated in 0.00192s] {}

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709
1,2,Schmeler-Gottlieb,Gualterio Dorrins,February,71218,82939,4273,7907,6801,6371,6241,5092,6202,5332
2,3,Streich-Runte,Dirk Woffenden,June,82950,95349,5971,9321,7736,5202,9976,8050,9940,8153
3,4,Labadie-Hettinger,Thornton Lindenbaum,May,86211,84444,4393,7946,3576,9776,7262,7997,7515,6864
4,5,Schneider-Purdy,Arny Cumberpatch,May,75824,96866,7422,7034,3189,9008,9042,5223,9344,7639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,"Mertz, Wisoky and Reichel",Ivette Neame,March,80980,93597,6290,6323,4526,5508,7914,5678,5857,5329
996,997,Maggio-Strosin,Caren Lightwing,August,78278,91679,4154,6324,4663,6130,6262,6212,5064,8207
997,998,Powlowski Group,Dar Blockwell,September,75788,92401,7446,9507,6767,8603,9798,8943,7657,5458
998,999,Quitzon-Wilderman,Viviene Tittershill,February,89017,70701,6305,7792,4066,5389,6918,9430,9906,7328
999,1000,"Bergnaum, Gusikowski and Harvey",Suzann Leadstone,September,92987,95876,5085,8402,4172,7933,7903,9849,6636,6291

In [ ]:
# conn = engine.connect()

# query = engine.select(['db_emplooyee'])

In [84]:
### This pd.read_sql_table are simple for of  read_sql_table

In [85]:
 
engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/schema_001', echo=True)
df = pd.read_sql_table('income_statement', engine)

df

# df.query(_
# df.quer
# df.head()

2024-02-18 14:31:10,512 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-18 14:31:10,521 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,521 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-18 14:31:10,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,529 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-18 14:31:10,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,529 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `schema_001`
2024-02-18 14:31:10,529 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,544 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `schema_001`
2024-02-18 14:31:10,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,544 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `income_statement`
2024-02-18 14:31:10,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-18 14:31:10,560 INFO sqlalchemy.engine.Engine SELECT income_statement.id, income_statement.business_name, income_statement.manager, income_statement.date, income_statement.product_sales, income_statement.service_revenue, income_statement.raw_material, income_statement.labor, income_statement.salaries_wages, income_statement.rent_exps, income_statement.supplies_exps, income_statement.marketing_exps, income_statement.utillities_exps, income_statement.depreciation
FROM income_statement
2024-02-18 14:31:10,560 INFO sqlalchemy.engine.Engine [generated in 0.00276s] {}

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709
1,2,Schmeler-Gottlieb,Gualterio Dorrins,February,71218,82939,4273,7907,6801,6371,6241,5092,6202,5332
2,3,Streich-Runte,Dirk Woffenden,June,82950,95349,5971,9321,7736,5202,9976,8050,9940,8153
3,4,Labadie-Hettinger,Thornton Lindenbaum,May,86211,84444,4393,7946,3576,9776,7262,7997,7515,6864
4,5,Schneider-Purdy,Arny Cumberpatch,May,75824,96866,7422,7034,3189,9008,9042,5223,9344,7639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,"Mertz, Wisoky and Reichel",Ivette Neame,March,80980,93597,6290,6323,4526,5508,7914,5678,5857,5329
996,997,Maggio-Strosin,Caren Lightwing,August,78278,91679,4154,6324,4663,6130,6262,6212,5064,8207
997,998,Powlowski Group,Dar Blockwell,September,75788,92401,7446,9507,6767,8603,9798,8943,7657,5458
998,999,Quitzon-Wilderman,Viviene Tittershill,February,89017,70701,6305,7792,4066,5389,6918,9430,9906,7328
999,1000,"Bergnaum, Gusikowski and Harvey",Suzann Leadstone,September,92987,95876,5085,8402,4172,7933,7903,9849,6636,6291

In [32]:
df.query('')

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709

In [87]:
from sqlalchemy import create_engine , MetaData, Table, select
import mysql.connector as MySQLdb

engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/basee', echo=True)

metadata = MetaData() 
conn = engine.connect()

# tb_emplooyee = Table('db_emplooyee' , metadata, autoload=True , autoload_with=engine) 

print(repr(metadata.tables['income_statement'])) 
#



# with engine.connect() as conn : 
#     query = select(['db_emplooyee'])
#     result = conn.execute(query)
    
#     headers = result.keys()
    
    
# conn = engine.connect()

# metadata.reflect(bind=engine)

# users_table = Table('Basee')

# engine.execute('SELECT * FROM db_emplooyee')

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1049 (42000): Unknown database 'basee'
(Background on this error at: https://sqlalche.me/e/14/f405)