In [1]:
import pandas as pd  
import numpy as np

In [6]:

# I CREATED random DATASET
ungrok = []
for x in range(50) :
    randonk_int = np.random.randint(1, 50)
    ungrok.append(randonk_int) 
ungrok

[26,
 47,
 35,
 36,
 39,
 3,
 25,
 23,
 33,
 29,
 16,
 4,
 8,
 28,
 13,
 28,
 3,
 38,
 20,
 36,
 10,
 19,
 23,
 33,
 15,
 7,
 43,
 49,
 34,
 14,
 37,
 43,
 20,
 21,
 17,
 47,
 20,
 20,
 20,
 6,
 49,
 41,
 24,
 16,
 29,
 16,
 27,
 6,
 5,
 17]

In [7]:
 
ungroup = pd.DataFrame(
    {'X': ungrok }
)

ungroup
# giv_example[]

     X
0   26
1   47
2   35
3   36
4   39
5    3
6   25
7   23
8   33
9   29
10  16
11   4
12   8
13  28
14  13
15  28
16   3
17  38
18  20
19  36
20  10
21  19
22  23
23  33
24  15
25   7
26  43
27  49
28  34
29  14
30  37
31  43
32  20
33  21
34  17
35  47
36  20
37  20
38  20
39   6
40  49
41  41
42  24
43  16
44  29
45  16
46  27
47   6
48   5
49  17

In [8]:

# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION
# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION
# Calculate its UNGROUP STANDARD DEVIATION FOR POPULATION
    # This mini project contains manual calculations for standard deviation, which I've learned in Statistics, and applies them in Python analysis.
    


ungroup['mean_x'] = ungroup['X'].mean() 

ungroup['X-x'] = ungroup['X'] - ungroup['X'].mean()

ungroup['(X-x)^2'] = ungroup['X-x'].pow(2)
# age_sums = age_sum.item() 
ungroup['sum(X-x^2)'] = ungroup['(X-x)^2'].sum()


def show_group () : 
    mean_x = ungroup['X'].mean() 
    print(f"mean of X == {mean_x}")
    sum_pow2 = ungroup['(X-x)^2'].sum()
    print(f"sum of (X-x)^2 == {sum_pow2}")
    N = len(ungroup['X']) 
    print(f"Sample size of {N}")
    under = sum_pow2 / N
    print(f"Under : {under}")

    import math

    print(f" Standard Deviation == {math.sqrt(under)}" )

# ungroup = ungroup.reindex(columns=['X', 'mean_x', 'X-x', '(X-x)^2', ])

show_group()
ungroup

mean of X == 24.36
sum of (X-x)^2 == 8409.519999999999
Sample size of 50
Under : 168.19039999999998
 Standard Deviation == 12.968824156414488

     X  mean_x    X-x   (X-x)^2  sum(X-x^2)
0   26   24.36   1.64    2.6896     8409.52
1   47   24.36  22.64  512.5696     8409.52
2   35   24.36  10.64  113.2096     8409.52
3   36   24.36  11.64  135.4896     8409.52
4   39   24.36  14.64  214.3296     8409.52
5    3   24.36 -21.36  456.2496     8409.52
6   25   24.36   0.64    0.4096     8409.52
7   23   24.36  -1.36    1.8496     8409.52
8   33   24.36   8.64   74.6496     8409.52
9   29   24.36   4.64   21.5296     8409.52
10  16   24.36  -8.36   69.8896     8409.52
11   4   24.36 -20.36  414.5296     8409.52
12   8   24.36 -16.36  267.6496     8409.52
13  28   24.36   3.64   13.2496     8409.52
14  13   24.36 -11.36  129.0496     8409.52
15  28   24.36   3.64   13.2496     8409.52
16   3   24.36 -21.36  456.2496     8409.52
17  38   24.36  13.64  186.0496     8409.52
18  20   24.36  -4.36   19.0096     8409.52
19  36   24.36  11.64  135.4896     8409.52
20  10   24.36 -14.36  206.2096     8409.52
21  19   24.36  -5.36   28.7296     8409.52
22  23   24.36  -1.36    1.8496     8409.52
23  33   24.36   8.64   74.6496     8409.52
24  15   24.36  -9.36   87.6096     8409.52
25   7   24.36 -17.36  301.3696     8409.52
26  43   24.36  18.64  347.4496     8409.52
27  49   24.36  24.64  607.1296     8409.52
28  34   24.36   9.64   92.9296     8409.52
29  14   24.36 -10.36  107.3296     8409.52
30  37   24.36  12.64  159.7696     8409.52
31  43   24.36  18.64  347.4496     8409.52
32  20   24.36  -4.36   19.0096     8409.52
33  21   24.36  -3.36   11.2896     8409.52
34  17   24.36  -7.36   54.1696     8409.52
35  47   24.36  22.64  512.5696     8409.52
36  20   24.36  -4.36   19.0096     8409.52
37  20   24.36  -4.36   19.0096     8409.52
38  20   24.36  -4.36   19.0096     8409.52
39   6   24.36 -18.36  337.0896     8409.52
40  49   24.36  24.64  607.1296     8409.52
41  41   24.36  16.64  276.8896     8409.52
42  24   24.36  -0.36    0.1296     8409.52
43  16   24.36  -8.36   69.8896     8409.52
44  29   24.36   4.64   21.5296     8409.52
45  16   24.36  -8.36   69.8896     8409.52
46  27   24.36   2.64    6.9696     8409.52
47   6   24.36 -18.36  337.0896     8409.52
48   5   24.36 -19.36  374.8096     8409.52
49  17   24.36  -7.36   54.1696     8409.52

In [10]:

grp = ['50-59' , '60-69' ,  '70-79', '80-89', '90-100']
X = [3 , 5, 9, 12, 8]

group =pd.DataFrame({
    'class_' : grp , 
    'X' : X 
})

group['class_']

0     50-59
1     60-69
2     70-79
3     80-89
4    90-100
Name: class_, dtype: object

In [17]:
ungroup['mean_x'] = ungroup['X'].mean() 

ungroup['X-x'] = ungroup['X'] - ungroup['X'].mean()

ungroup['(X-x)^2'] = ungroup['X-x'].pow(2)
# age_sums = age_sum.item() 
ungroup['sum(X-x^2)'] = ungroup['(X-x)^2'].sum()


def show_group () : 
    mean_x = ungroup['X'].mean() 
    print(f"mean of X == {mean_x}")
    sum_pow2 = ungroup['(X-x)^2'].sum()
    print(f"sum of (X-x)^2 == {sum_pow2}")
    N = len(ungroup['X']) 
    print(f"Sample size of {N}")
    under = sum_pow2 / N
    print(f"Under : {under}")
    import math
    print(f" Standard Deviation == {math.sqrt(under)}" )

show_group()
# ungroup = ungroup.reindex(columns=['X', 'mean_x', 'X-x', '(X-x)^2', ])

mean of X == 24.36
sum of (X-x)^2 == 8409.519999999999
Sample size of 50
Under : 168.19039999999998
 Standard Deviation == 12.968824156414488

In [12]:
group[['1st', '2nd']]= group['class_'].str.split('-', expand=True)
group[['1st', '2nd']]= group[['1st' , '2nd']].astype(int)
group['midpoint'] = (group['1st'] + group['2nd']) / 2 
group['f*midp'] = group['X'] * group['midpoint'] 
group['Mean'] = group['f*midp'].sum() / group['X'].sum()
group['m-Mean'] = group['midpoint'] - group['Mean']
group['m-Mean^2'] = group['m-Mean'].pow(2)
group['sum(m-Mean^2)'] = group['m-Mean^2'].sum()
group['N-1'] = group['X'].sum() - 1 
group["std_deviation"] = group['sum(m-Mean^2)'] / group['N-1']
print(group.dtypes)

group

class_            object
X                  int64
1st                int32
2nd                int32
midpoint         float64
f*midp           float64
Mean             float64
m-Mean           float64
m-Mean^2         float64
sum(m-Mean^2)    float64
N-1                int64
std_deviation    float64
dtype: object

,class_,X,1st,2nd,midpoint,f*midp,Mean,m-Mean,m-Mean^2,sum(m-Mean^2),N-1,std_deviation
0,50-59,3,50,59,54.5,163.5,79.202703,-24.702703,610.223521,1126.124361,36,31.281232
1,60-69,5,60,69,64.5,322.5,79.202703,-14.702703,216.169467,1126.124361,36,31.281232
2,70-79,9,70,79,74.5,670.5,79.202703,-4.702703,22.115413,1126.124361,36,31.281232
3,80-89,12,80,89,84.5,1014.0,79.202703,5.297297,28.061359,1126.124361,36,31.281232
4,90-100,8,90,100,95.0,760.0,79.202703,15.797297,249.554602,1126.124361,36,31.281232